<h3>Contact View Template</h3>

<p>
  After creating the handler, we are going to need a template to be able to
  present a contact's personal page. Create a new file
  <code>contact_view.html</code> in the <code>templates</code> directory
  and paste the following code there:
</p>

<pre class="prettyprint linenums lang-html">
&#35; extends 'base.html'

&#35; block content
  &lt;div class="page-header"&gt;
    &lt;h1&gt;&#123;&#123;title&#125;&#125;&lt;/h1&gt;
  &lt;/div&gt;
  &lt;p&gt;&#123;&#123;contact_db.email&#125;&#125;&lt;/p&gt;
  &lt;p&gt;&#123;&#123;contact_db.phone&#125;&#125;&lt;/p&gt;
  &lt;p&gt;&#123;&#123;contact_db.address&#125;&#125;&lt;/p&gt;
  &lt;hr&gt;
  &lt;p&gt;
    &lt;a href="&#123;&#123;url_for('contact_list', order='name')&#125;&#125;"&gt;Back&lt;/a&gt;
  &lt;/p&gt;
&#35; endblock
</pre>

<p>
  It's hard to test this form right now because we have to create manually
  the URL, but in the next section we'll add a link to make it easier to access.
</p>
