<h3>Contact View Handler</h3>

<p>
  Add the following code to the <code>contact.py</code> file:
</p>

<pre class="prettyprint linenums lang-python">
@app.route('/contact/&lt;int:contact_id>&gt;/')
@auth.login_required
def contact_view(contact_id):
  contact_db = model.Contact.get_by_id(contact_id)
  if not contact_db or contact_db.user_key != auth.current_user_key():
    flask.abort(404)
  return flask.render_template(
      'contact_view.html',
      html_class='contact-view',
      title=contact_db.name,
      contact_db=contact_db,
    )
</pre>
