<p>Clone the gae-init project to get the code locally on your computer</p>

<pre class="prettyprint">
$ hg clone <span class="nocode">https://lipis@bitbucket.org/lipis/gae-init phonebook</span>
</pre>

<p>
  This will create a new directory that is called <code>phonebook</code>
  and inside that directory there is another directory called <code>main</code> that
  containes all the source files, libraries and build scripts.
</p>

<p>
  Change your current directory to <code>phonebook/main</code> and run the
  command <code>npm install</code> to install locally all the nessesery
  dependencies that are needed in the next step.
</p>

<pre class="prettyprint">
$ cd phonebook/main
$ npm install
</pre>
