<p>
  Since gae-init is using CoffeeScript for writting scripts and LESS for
  writting stylesheets it is nessesary to compile the sources files
  into <code>*.js</code> and <code>*.css</code> respectivly. Also it is
  nessesery to zip all the third party Python libraries that are being used before running the
  application, because this makes the deployment of your app faster and
  smaller in number of files.
</p>

<p>
  Run the <code>build.py</code> script from the <code>main</code> directory by
  providing the the <code>-c</code> argument, which stands for a clean build.
</p>

<pre class="prettyprint">
$ ./build.py -c
</pre>
