<p>
  Before deploying your application the most important thing is to compile,
  into the minified versions, your stylesheets and scripts,
  because otherwise your latest changes won't appear online!
</p>

<p>
  To minify your stylesheets and scripts run the <code>run.py</code> script by
  providing the <code>-m</code> argument
</p>

<pre class="prettyprint">
$ ./run.py -m
</pre>

<p>
  After that make sure that you have created a new application on
  <a href="http://appengine.google.com">App Engine</a>
  and the name of the application is updated in the <code>app.yaml</code>
  file that is located in the <code>main</code> directory.
</p>

<p>
  To deploy your application run the following command from the
  <code>main</code> directory:
</p>

<pre class="prettyprint">
$ appcfg.py update .
</pre>
