<p>
  Before you begin you should go through the
  <a href="{{url_for('requirement')}}">requirements</a> and make sure that you
  <a href="https://developers.google.com/appengine/downloads">
    Google App Engine SDK for Python
  </a>
  and <a href="http://nodejs.org">Node.js</a> are installed.
</p>

<p>
  We will also going to assume that you will follow all the suggested names
  for the directories and files, cause in some steps we might refer to
  what was suggested without further explanation. If you decided to follow
  your own names, follow the tutorial at your own risk.
</p>

<p>
  In this
  tutorial we're not going to explain how Google App Engine works so if you
  never played with it before you should at least finish the
  <a href="https://developers.google.com/appengine/docs/python/gettingstartedpython27/">Getting Started: Python 2.7</a>
  before continuing with this one.
</p>
