<h3>Making it more personal</h3>

<p>
  In the <code>model.py</code> you should change the dafault
  <code>brand_name</code> of the <code>Config</code> model to <code>Phone Book</code>
</p>

<pre class="prettyprint">
brand_name = ndb.StringProperty(default='Phone Book')
</pre>

<p>
  You might not see the changes right away, if you refresh your browser,
  but if you want to see it
  stop the web server and run it using the <code>-c</code> argument to reset the
  datastore.
</p>

<pre class="prettyprint">
$ ./run.py -fs
</pre>


<h3>Adding new Model</h3>

<p>
  We are building a phone book so all we need is the contact list. In the end of
  the <code>model.py</code> file add the following:
</p>

<pre class="prettyprint linenums">
class Contact(Base):
  user_key = ndb.KeyProperty(kind=User, required=True)
  name = ndb.StringProperty(required=True)
  email = ndb.StringProperty(default='')
  phone = ndb.StringProperty(default='')
  address = ndb.StringProperty(default='')
</pre>

<p>
  The <code>user_key</code> property will store the <code>User</code>'s key to
  make the contact list different for every user. The rest of the properties are
  self explanatory.
</p>
