# extends 'base_doc.html'

# block content_doc
  <p>
    This tutorial describes how to develop a simple phonebook application using
    <a href="http://gae-init.appspot.com">gae-init</a> as a starting point.
    By building a personal phonebook, you will learn how to develop, build, run,
    and deploy your applications.
  </p>

  # for section in config.TUTORIAL
    <section id="{{section[0]}}">
      <div class="page-header sticky">
        <h2 class="self-link">
          <small>{{loop.index}}.</small>
          {{section[1]}}
          <small>
            {{section[2]}}
          </small>
          <a href="#{{section[0]}}"></a>
        </h2>
      </div>
      # include 'tutorial/%s.html' % section[0]
    </section>
  # endfor
# endblock
