# extends 'base_doc.html'
# import 'macro/utils.html' as utils

# block content_doc
  {{utils.github_edit_template_link('tutorial/intro.md')}}
  {{utils.include_md('tutorial/intro.md')}}

  # for section in config.TUTORIAL
    <section id="{{section[0]}}">
      <div class="page-header sticky">
        <h2 class="self-link">
          <small>{{loop.index}}.</small>
          {{section[1]}}
          <a class="permalink" href="#{{section[0]}}"></a>
          {{utils.github_edit_template_link('tutorial/%s.md' % section[0])}}
        </h2>
      </div>
      {{utils.include_md('tutorial/%s.md' % section[0])}}
    </section>
  # endfor

  <div class="gi-callout gi-callout-success">
    <h4>Source Code &amp; Demo</h4>

    <p>
      Get the code for this tutorial from
      <a href="https://github.com/gae-init/phonebook">GitHub</a>
      or check out the final result in action:
      <a href="http://phonebook.gae-init.appspot.com">Phonebook</a>.
    </p>
  </div>

  <div class="gi-callout gi-callout-info">
    <h4>Next steps</h4>

    <p>
      Continue with our <a href="{{url_for('howto')}}">How To</a> section,
      where you can learn on how to achieve common tasks in gae-init like a pro.
    </p>
  </div>
# endblock
