<p>
  In order to update the contact we will have to do three things: create the
  handler that will retrieve the contact from the datastore, the template to
  update her in the browser and the link on the contact list for easy access.
</p>

<p>
  In this step there are very similar actions on what we have to do
  that we've seen in creation and viewing of the contact. So in the final step
  we'll combine the create and update templates to maintain only one.
</p>

# include 'tutorial/update/update_handler.html'
# include 'tutorial/update/update_template.html'
# include 'tutorial/update/update_final.html'
