<p>
  In order to update the contact we will have to do three things: create the
  handler that will retrieve the contact from the datastore, the template to
  update her in the browser and the link on the contact list for easy access.
</p>

<p>
  In this step there are very similar actions on what we have to do
  that we've seen in creation and viewing of the contact. So in the final step
  we'll combine the create and update templates to maintain only one.
</p>

<h3>Contact Update Handler</h3>

<p>
  Add the following code to the <code>contact.py</code> file:
</p>

<pre class="prettyprint linenums lang-python">
@app.route('/contact/&lt;int:contact_id&gt;/update/', methods=['GET', 'POST'])
@auth.login_required
def contact_update(contact_id):
  contact_db = model.Contact.get_by_id(contact_id)
  if not contact_db or contact_db.user_key != auth.current_user_key():
    flask.abort(404)
  form = ContactUpdateForm(obj=contact_db)
  if form.validate_on_submit():
    form.populate_obj(contact_db)
    contact_db.put()
    return flask.redirect(flask.url_for('contact_list', order='-modified'))
  return flask.render_template(
      'contact_update.html',
      html_class='contact-update',
      title=contact_db.name,
      form=form,
      contact_db=contact_db,
    )
</pre>

<h3>Contact Update Template</h3>

<p>
  After the handler, we are going to need a template to be able to update the
  user's details. Create a new file <code>contact_update.html</code> in the
  <code>templates</code> directory and paste the following code there:
</p>

<pre class="prettyprint linenums lang-html">
&#35; extends 'base.html'
&#35; import 'macro/forms.html' as forms

&#35; block content
  &lt;div class="page-header"&gt;
    &lt;h1&gt;&#123;&#123;title&#125;&#125;&lt;/h1&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
    &lt;div class="col-md-4"&gt;
      &lt;form method="POST" action="."&gt;
        &lt;fieldset&gt;
          &#123;&#123;form.csrf_token&#125;&#125;
          &#123;&#123;forms.text_field(form.name, autofocus=True)&#125;&#125;
          &#123;&#123;forms.email_field(form.email)&#125;&#125;
          &#123;&#123;forms.text_field(form.phone)&#125;&#125;
          &#123;&#123;forms.textarea_field(form.address)&#125;&#125;
          &lt;button type="submit" class="btn btn-primary btn-block"&gt;
            Update Contact
          &lt;/button&gt;
        &lt;/fieldset&gt;
      &lt;/form&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&#35; endblock
</pre>

<h3>Finalise Contact Update</h3>

<p>
  As a final touch we're going to do two things:
  add some links to the contact list to access the update contacts page easier
  and also we'll get rid of the <code>contact_create.html</code> because it is
  very similar to the <code>contact_update.html</code>.
</p>

<h4>Add a link on the contact list</h4>

<p>
  Find the line that renders the ID of the contact and replace it with the
  following:
</p>

<pre class="prettyprint linenums lang-html">
...
&lt;td&gt;
  &lt;a href="&#123;&#123;url_for('contact_update', contact_id=contact_db.key.id())&#125;&#125;"&gt;
    &#123;&#123;contact_db.key.id()&#125;&#125;
  &lt;/a&gt;
&lt;/td&gt;
...
</pre>

<p>
  Now visit the contact list
  (<a href="http://localhost:8080/contact/">http://localhost:8080/contact/</a>),
  and you should be able to click on the ID of each contact and update their
  properties.
</p>

<h4>Get rid of contact_create.html</h4>

<p>
  At the moment the only difference between the <code>contact_create.html</code>
  and the <code>contact_update.html</code> files is the caption of the submit
  form. Just delete the <code>contact_create.html</code> form and change the
  button in <code>contact_update.html</code> to the following:
</p>

<pre class="prettyprint linenums lang-html">
...
&lt;button type="submit" class="btn btn-primary btn-block"&gt;
  &#35; if contact_db
    Update Contact
  &#35; else
    Create Contact
  &#35; endif
&lt;/button&gt;
...
</pre>

<p>
  Finally since we deleted the <code>contact_create.html</code> we'll have to
  simply update the create handler to render the correct template and by now you
  should be able to find that yourself.
</p>
