<h3>Testing Contact Creation</h3>

<p>
  If your development server is still runing, then by visting the
  <a href="http://localhost:8080/">http://localhost:8080/</a>
  you should notice the Create Contact link on the top bar and you should be able
  to actually start creating new contacts!
</p>

<p>
  Create couple of new contacts and also try to add a contact without
  a name, or try to enter an invalid email and then press on Create Contact
  button.
</p>

<p>
  Since the contact list is not visible in the application yet, you can
  visit the Google App Engine's admin console to make sure that the
  contacts are being added, by visiting the
  <a href="http://localhost:8080/_ah/admin">http://localhost:8080/_ah/admin</a>.
</p>



