<h3>Finalise Contact Creation</h3>

<p>
  Before we can actually test the contact creation there are couple of things
  that we have to complete.
</p>

<h4>Import contact.py</h4>

<p>
  We will have to import the <code>contact.py</code> in the <code>main.py</code>,
  because otherwise the Flask application won't be able to figure out the
  routing rules. Inlcude the following line bellow the rest of the imports
  in the <code>main.py</code> file.
</p>


<pre class="prettyprint">
import contact
</pre>


<h4>Adding a link on the top bar</h4>

<p>
  The most important thing to make the user experience better, we will have
  to create a link for the users to be able to start adding new contacts
  in their phonebook.
</p>
<p>
  Add the lines <code>2 - 4</code> inside the
  <code>&lt;ul class="nav"&gt;...&lt;/ul&gt;</code> element that you will find in the
  <code>top_bar.html</code> file that is located in the
  <code>templates/bit</code> directory.
</p>


<pre class="prettyprint linenums lang-html">
&lt;ul class="nav"&gt;
  &lt;li class="&#123;% if html_class == 'contact-create' %&#125; active &#123;% endif %&#125;"&gt;
    &lt;a href="&#123;&#123;url_for('contact_create')&#125;&#125;"&gt;&lt;i class="icon-file"&gt;&lt;/i&gt; Create Contact&lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
