# extends 'base_doc.html'
# import 'macro/utils.html' as utils

# block content_doc
  <div class="row">
    <div class="col-md-7">
      <h3>Highlights {{utils.github_edit_template_link('feature/highlights.md')}}</h3>
      {{utils.include_md('feature/highlights.md')}}

      <h3>Development {{utils.github_edit_template_link('feature/development.md')}}</h3>
      {{utils.include_md('feature/development.md')}}
    </div>
    <div class="col-md-5">
      # include 'doc/tech_stack.html'
      <h5>gae-init-babel only</h5>
      <ul>
        <li><a href="http://babel.edgewall.org/wiki/Download">Babel</a></li>
      </ul>
      <h5>gae-init-upload only</h5>
      <ul>
        <li><a href="https://cloud.google.com/products/cloud-storage">Google Cloud Storage</a></li>
      </ul>
      <h5>gae-init-debug only</h5>
      <ul>
        <li><a href="https://github.com/mgood/flask-debugtoolbar">Flask DebugToolbar</a></li>
        <li><a href="https://github.com/kamens/gae_mini_profiler">gae_mini_profiler</a></li>
      </ul>

      <h3>Forks {{utils.github_edit_template_link('feature/forks.md')}}</h3>
      {{utils.include_md('feature/forks.md')}}
    </div>
  </div>
# endblock
