# extends 'base_doc.html'
# import 'macro/utils.html' as utils

# block content_doc
  <div class="row">
    <div class="col-md-7">
      <h3>Highlights {{utils.github_edit_template_link('feature/highlights.md')}}</h3>
      {{utils.include_md('feature/highlights.md')}}

      <h3>Development {{utils.github_edit_template_link('feature/development.md')}}</h3>
      {{utils.include_md('feature/development.md')}}
    </div>
    <div class="col-md-5">
      <h3>Tech Stack {{utils.github_edit_template_link('feature/tech_stack.md')}}</h3>
      {{utils.include_md('feature/tech_stack.md')}}
      {{utils.include_md('feature/tech_stack_more.md')}}

      <h3>Forks {{utils.github_edit_template_link('feature/forks.md')}}</h3>
      {{utils.include_md('feature/forks.md')}}
    </div>
  </div>
# endblock
