<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-comments"></i>
    Contact
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{url_for('feedback')}}"><i class="fa fa-comment"></i> Feedback</a></li>
    <li class="divider"></li>
    <li><a href="https://twitter.com/gaeinit"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="https://plus.google.com/communities/107677181906893226576"><i class="fa fa-google-plus"></i> Google+</a></li>
    <li class="divider"></li>
    <li><a href="https://github.com/gae-init/gae-init/issues?state=open"><i class="fa fa-github"></i> Issue Tracker</a></li>
  </ul>
</li>
