<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-comments"></span>
    Contact
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{url_for('feedback')}}"><span class="fa fa-comment"></span> Feedback</a></li>
    <li class="divider"></li>
    <li><a href="https://twitter.com/gaeinit"><span class="fa fa-twitter"></span> Twitter</a></li>
    <li><a href="https://plus.google.com/communities/107677181906893226576"><span class="fa fa-google"></span> Google+</a></li>
    <li class="divider"></li>
    <li><a href="https://github.com/gae-init/gae-init/issues?state=open"><span class="fa fa-github"></span> Issue Tracker</a></li>
  </ul>
</li>
