<footer class="footer">
  <div class="container">
    <div class="social github" data-repo="{{config.CONFIG_DB.brand_name}}">
      <a class="share" href="https://gae-init-slack.herokuapp.com"><img class="img" src="https://gae-init-slack.herokuapp.com/badge.svg" alt="Slack"></a>
      <iframe class="share" src="/github-btn.html?user=lipis&amp;type=follow" width="100"></iframe>
      <iframe class="share" src="/github-btn.html?user=gae-init&amp;repo=gae-init&amp;type=watch&amp;count=true" width="90"></iframe>
      <a class="share twitter-share-button" href="https://twitter.com/share" data-url="http://gae-init.appspot.com" data-text="gae-init is the easiest way to start developing new applications on Google App Engine" data-via="gaeinit" data-hashtags="gaeinit">Tweet</a>
      <div class="share g-plusone" data-size="medium" data-annotation="bubble" data-width="60" data-href="http://gae-init.appspot.com"></div>
    </div>
    <hr>
    <p>
      Version: {{config.CURRENT_VERSION_NAME}}
      (<time datetime="{{config.CURRENT_VERSION_DATE}}">{{config.CURRENT_VERSION_DATE}}</time>)
    </p>
    <p>&copy; 2012 - 2017</p>
  </div>
</footer>
