<footer role="contentinfo">
  <div class="container">
    <div class="social github" data-repo="gae-init">
      <iframe src="http://ghbtns.com/github-btn.html?user=lipis&type=follow"
        allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=gae-init&repo=gae-init&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gae-init.appspot.com" data-text="gae-init is the easiest way to start developing new applications on Google App Engine" data-via="gaeinit" data-hashtags="gaeinit">Tweet</a>
      <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="60" data-href="http://gae-init.appspot.com"></div>
    </div>
    <hr>
    <p>
      Version: {{config.CURRENT_VERSION_NAME}}
        (<time datetime="{{config.CURRENT_VERSION_DATE}}">{{config.CURRENT_VERSION_DATE}}</time>)
      | <a href="/_s/{{request.url.replace(request.host_url, '')}}" target="_blank">View in JSON</a>
    </p>
    <p>&copy; 2013 - {{config.CONFIG_DB.brand_name}}</p>
  </div>
</footer>
