<h3>Contact List Handler</h3>

<p>
  Add the following code to the <code>contact.py</code> file:
</p>

<pre class="prettyprint linenums lang-python">
import util

@app.route('/contact/')
@auth.login_required
def contact_list():
  contact_dbs, more_cursor = util.retrieve_dbs(
      model.Contact.query(),
      limit=util.param('limit', int),
      cursor=util.param('cursor'),
      order=util.param('order'),
    )
  return flask.render_template(
      'contact_list.html',
      html_class='contact-list',
      title='Contact List',
      contact_dbs=contact_dbs,
      more_url=util.generate_more_url(more_cursor),
    )
</pre>
