<h3>Contact List Template</h3>

<p>
  After creating the handler, we are going to need a template to be able to
  present a table of all the contacts that we've added so far. Create a new file
  <code>contact_list.html</code> in the <code>templates</code> directory
  and paste the following code there:
</p>

<pre class="prettyprint linenums lang-html">
&#35; extends 'base.html'

&#35; block content
  &lt;div class="page-header"&gt;
    &lt;h1&gt;&#123;&#123;title&#125;&#125;&lt;/h1&gt;
  &lt;/div&gt;

  &lt;div class="row"&gt;
    &lt;div class="span12"&gt;
      &lt;table class="table table-bordered"&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th class="span1"&gt;ID&lt;/th&gt;
            &lt;th class="span2"&gt;Name&lt;/th&gt;
            &lt;th class="span2"&gt;Email&lt;/th&gt;
            &lt;th class="span2"&gt;Phone&lt;/th&gt;
            &lt;th class="span5"&gt;Address&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
          &#35; for contact_db in contact_dbs
            &lt;tr&gt;
              &lt;td&gt;&#123;&#123;contact_db.key.id()&#125;&#125;&lt;/td&gt;
              &lt;td&gt;&#123;&#123;contact_db.name&#125;&#125;&lt;/td&gt;
              &lt;td&gt;&#123;&#123;contact_db.email&#125;&#125;&lt;/td&gt;
              &lt;td&gt;&#123;&#123;contact_db.phone&#125;&#125;&lt;/td&gt;
              &lt;td&gt;&#123;&#123;contact_db.address&#125;&#125;&lt;/td&gt;
            &lt;/tr&gt;
          &#35; endfor
        &lt;/tbody&gt;
      &lt;/table&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&#35; endblock
</pre>

<p>
  You can test the handler and the above template by visiting the url
  <a href="http://localhost:8080/contact/">http://localhost:8080/contact/</a>,
  but in the next section we'll add a link to make it easier to access.
</p>
