# extends 'base_doc.html'

# block content_doc
  <section id="faq">
    <h4>Why CoffeeScript?</h4>
    <p>
      Because it rocks!
    </p>
    <h4>Can I use JavaScript instead of CoffeeScript?</h4>
    <p>
      Yes, but you will not rock.
    </p>
    <h4>Why LESS?</h4>
    <p>
      Because it rocks as well!
    </p>
    <h4>Can I use the traditional CSS instead of LESS?</h4>
    <p>
      Yes, but you will not rock.
    </p>
    <h4>It rocks, but I still don't get it. Can you help me?</h4>
    <p>
      Yes, you can ask questions using the <a href="{{url_for('feedback')}}">feedback form</a>
      or by sending an email to: <strong>gaeinit</strong> at <strong>gmail</strong> dot <strong>com</strong>
    </p>
  </section>
# endblock
