<p>
  This is a Google App Engine project so you should download the
  <a href="https://developers.google.com/appengine/downloads">
    Google App Engine SDK for Python
  </a> for your favorite operating system and follow the instructions
  for the installation.
</p>
<p>
  After the installation make sure that you are able to run the
  <a href="https://developers.google.com/appengine/docs/python/tools/devserver">
    The Python Development Server
  </a>
  from the terminal: <code>dev_appserver.py</code>.
</p>
