<p>
  <a href="http://mercurial.selenic.com/" >Mercurial</a> is optional,
  but strongly recommended. While you can get the code in many different
  ways the easiest way is to get it, is by using Mercurial.
</p>
<p>
  After the
  installation make sure that you can run the <code>hg</code> command from
  your terminal.
</p>
<p>
  If you haven't used Mercurial before the
  <a href="http://hginit.com/">Hg Init</a> is very good Mercurial
  tutorial and a solid starting point written by
  <a href="http://www.joelonsoftware.com/AboutMe.html">Joel Spolsky</a>.
</p>
