<p>
  In order to compile CoffeeScript files into JavaScript, LESS
  files into CSS and then minify all the JavaScript dependences,
  gae-init is using CoffeeScript, LESS and UglifyJS compilers
  respectivly.
</p>
<p>
  Download the latest <a href="http://nodejs.org">node.js</a>
  and install it globally on your system. This installation also
  includes the
  <a href="https://npmjs.org/">
    Node Packaged Modules
  </a>
  which is a very easy way to install packages.
</p>
<p>
  After the installation make sure that you are able to run the
  <code>npm</code> command from your terminal.
</p>
