# extends 'base.html'

# block content
  <div class="page-header">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <section id="docs">
        <ul>
          <li>
            <a href="http://www.remby.com">Remby</a> &
            <a href="http://www.remby4blogs.com">Remby for Blogs</a>
          </li>
          <li>
            <a href="http://www.thesmallestcreature.com">The smallest Creature</a>
            (<a href="https://bitbucket.org/lipis/less-bands">source</a>)
          </li>
          <li>
            <a href="http://www.dodonegone.com">DoDoneGone</a>
          </li>
          <li>
            <a href="http://eyetribe-dev.appspot.com">The Eye Tribe</a>
          </li>
          <li>
            <a href="http://www.3dhero.ru">3DHero</a>
            (<a href="https://github.com/gmist/3dhero.ru">source</a>)
          </li>
          <li>
            <a href="http://pawili.com">Pawili</a>
          </li>
          <li>
            <a href="http://www.rehabvalet.se/">Rehabvalet</a>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <a href="https://bitbucket.org/lipis/gae-init">gae-init</a>
            (<a href="http://babel.gae-init.appspot.com">demo</a>)
          </li>
          <li>
            <a href="https://bitbucket.org/lipis/gae-init-babel">gae-init-babel</a>
            (<a href="http://babel.gae-init.appspot.com">demo</a>)
          </li>
          <li>
            <a href="https://bitbucket.org/lipis/less-bands">less-bands</a>
            (<a href="http://www.thesmallestcreature.com">demo</a>)
          </li>
        </ul>
      </section>
    </div>
  </div>
# endblock
