# extends 'base.html'

# block content
  <div class="row">
    <div class="col-sm-3 left-nav">
      <div class="page-header text-center hidden-xs">
        <h1>
          <a href="{{url_for('welcome')}}">
            <img class="brand" src="/p/img/{{config.CONFIG_DB.brand_name}}.svg" alt="{{config.CONFIG_DB.brand_name}} logo">
          </a>
        </h1>
      </div>
      <ul class="nav nav-stacked docs-sidebar">
        <li class="{{'active' if html_class.find('what') >= 0 else ''}}">
          <a href="{{url_for('what')}}">What is gae-init?</a>
        </li>
        <li class="{{'active' if html_class.find('features') >= 0 else ''}}">
          <a href="{{url_for('features')}}">Features</a>
        </li>
        <li class="{{'active' if html_class.find('requirement') >= 0 else ''}}">
          <a href="{{url_for('requirement')}}">Requirements</a>
          # if html_class.find('requirement') >= 0
            <ul class="nav">
              # for section in config.REQUIREMENT
                <li>
                  <a href="{{'#'}}{{section[0]}}">
                    {{section[1]}}
                  </a>
                </li>
              # endfor
            </ul>
          # endif
        </li>
        <li class="{{'active' if html_class.find('quickstart') >= 0 else ''}}">
          <a href="{{url_for('quickstart')}}">Quickstart</a>
          # if html_class.find('quickstart') >= 0
            <ul class="nav">
              # for section in config.QUICKSTART
                <li>
                  <a href="{{'#'}}{{section[0]}}">
                    {{section[1]}}
                  </a>
                </li>
              # endfor
            </ul>
          # endif
        </li>
        <li class="{{'active' if html_class.find('tutorial') >= 0 else ''}}">
          <a href="{{url_for('tutorial')}}">Tutorial</a>
          # if html_class.find('tutorial') >= 0
            <ul class="nav">
              # for section in config.TUTORIAL
                <li>
                  <a href="{{'#'}}{{section[0]}}">
                    {{section[1]}}
                  </a>
                </li>
              # endfor
            </ul>
          # endif
        </li>
        <li class="{{'active' if html_class.find('howto') >= 0 else ''}}">
          <a href="{{url_for('howto')}}">How To</a>
          # if html_class.find('howto') >= 0
            <ul class="nav">
              # for section in config.HOWTO
                <li>
                  <a href="{{'#'}}{{section[0]}}">
                    {{section[1]}}
                  </a>
                </li>
              # endfor
            </ul>
          # endif
        </li>
        <li class="{{'active' if html_class.find('convention') >= 0 else ''}}">
          <a href="{{url_for('convention')}}">Code Conventions</a>
        </li>
        <li class="{{'active' if html_class.find('reference') >= 0 else ''}}">
          <a href="{{url_for('reference')}}">API Reference</a>
          # if html_class.find('reference') >= 0
            <ul class="nav">
              # for section in config.REFERENCE
                <li>
                  <a href="{{'#'}}{{section[0]}}">
                    {{section[1]}}
                  </a>
                </li>
              # endfor
            </ul>
          # endif
        </li>
        <li class="{{'active' if html_class.find('faq') >= 0 else ''}}">
          <a href="{{url_for('faq')}}">FAQ</a>
        </li>
        <li class="{{'active' if html_class.find('feedback') >= 0 else ''}}">
          <a href="{{url_for('feedback')}}">Feedback</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="page-header">
        <h1>{{title}}</h1>
      </div>
      # block content_doc
      # endblock
    </div>
  </div>
# endblock
