# extends 'base_doc.html'
# import 'macro/forms.html' as forms

# block content_doc
  <div class="row">
    <div class="col-md-6">
      <form method="POST" action="." novalidate>
        {{form.csrf_token}}

        {{forms.text_field(form.subject, autofocus=True)}}
        {{forms.textarea_field(form.message, rows=8)}}
        {{forms.email_field(form.email)}}

        <button type="submit" class="btn btn-primary btn-block btn-loading" data-loading-text="Sending Feedback..">
          Send Feedback
        </button>
      </form>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <hr class="visible-sm visible-xs">
      <ul class="alert alert-info lead list-unstyled">
        <li>
          <a class="alert-link" href="https://github.com/gae-init">
            <span class="fa fa-github fa-fw"></span> GitHub
          </a>
        </li>
        <li>
          <a class="alert-link" href="https://bitbucket.org/gae-init">
            <span class="fa fa-bitbucket fa-fw"></span> Bitbucket
          </a>
        </li>
        <li>
          <a class="alert-link" href="https://plus.google.com/communities/107677181906893226576">
            <span class="fa fa-google-plus fa-fw"></span> Google+
          </a>
        </li>
        <li>
          <a class="alert-link" href="https://twitter.com/gaeinit">
            <span class="fa fa-twitter fa-fw"></span> Twitter
          </a>
        </li>
      </ul>
    </div>
  </div>
# endblock
