# extends 'base_doc.html'

# block content_doc
  <div class="row">
    <div class="col-md-12">
      <p class="lead">
        From the root directory you can excecute the <code>run.py</code> script
        with one or more of these arguments:
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-xs-1">Flag</th>
            <th class="col-xs-3 hidden-xs">Name</th>
            <th class="col-xs-8">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>-w</code></td>
            <td class="hidden-xs"><code>--watch</code></td>
            <td>Watch files for changes when running the development web server</td>
          </tr>
          <tr>
            <td><code>-c</code></td>
            <td class="hidden-xs"><code>--clean</code></td>
            <td>Recompiles files when running the development web server</td>
          </tr>
          <tr>
            <td><code>-C</code></td>
            <td class="hidden-xs"><code>--clean-all</code></td>
            <td>Cleans all the pip, Node &amp; Bower related tools / libraries and updates them to their latest versions</td>
          </tr>
          <tr>
            <td><code>-m</code></td>
            <td class="hidden-xs"><code>--minify</code></td>
            <td>Compiles files into minified version before deploying</td>
          </tr>
          <tr>
            <td><code>-s</code></td>
            <td class="hidden-xs"><code>--start</code></td>
            <td>Starts the <code>dev_appserver.py</code> with datastore and blobstore paths</td>
          </tr>
          <tr>
            <td><code>-o</code></td>
            <td class="hidden-xs"><code>--host</code></td>
            <td>The host to start the <code>dev_appserver.py</code></td>
          </tr>
          <tr>
            <td><code>-p</code></td>
            <td class="hidden-xs"><code>--port</code></td>
            <td>The port to start the <code>dev_appserver.py</code></td>
          </tr>
          <tr>
            <td><code>-f</code></td>
            <td class="hidden-xs"><code>--flush</code></td>
            <td>Clears the datastore, blobstore, etc</td>
          </tr>
          <tr>
            <td></td>
            <td><code>--appserver-args ...</code></td>
            <td>Used with <code>-s</code>, all following args are passed to <code>dev_appserver.py</code></td>
          </tr>
          <tr>
            <th colspan="3">gae-init-babel only</th>
          </tr>
          <tr>
            <td><code>-u</code></td>
            <td class="hidden-xs"><code>--pybabel-update</code></td>
            <td>Update existing message catalogs from messages.pot (<code>pybabel update..</code>)</td>
          </tr>
          <tr>
            <td><code>-l</code></td>
            <td class="hidden-xs"><code>--pybabel-init</code></td>
            <td>Create new message catalogs from messages.pot (<code>pybabel init..</code>)</td>
          </tr>
          <tr>
            <td><code>-i</code></td>
            <td class="hidden-xs"><code>--pybabel-init-missing</code></td>
            <td>Create new message catalogs from messages.pot that are defined in config.py and still not present (<code>pybabel init..</code>)</td>
          </tr>
          <tr>
            <td><code>-b</code></td>
            <td class="hidden-xs"><code>--pybabel-compile</code></td>
            <td>Compile message catalogs to MO files (<code>pybabel compile..</code>)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
# endblock


