# extends 'base.html'

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        <img src="/p/img/{{slugify(config.CONFIG_DB.brand_name)}}.svg" alt="{{config.CONFIG_DB.brand_name}}">
      </h1>
      <p class="lead">
        <a href="http://gae-init.appspot.com"><strong>gae-init</strong></a>
        is the easiest way to kick start new web applications on Google App Engine.
      </p>
      <p class="lead">
        The docs are still in progress, so feel free to
        <a href="{{url_for('feedback')}}">send feedback</a>
        with your questions or just <a href="https://github.com/gae-init/gae-init-docs">contribute</a>.
      </p>
      <p class="lead">
        Check it in action with live demos and get started:
      </p>

      <div class="clones links">
        <a class="btn btn-default tip" href="http://gae-init.appspot.com" data-repo="gae-init" data-placement="bottom" title="">
          <i class="fa fa-briefcase"></i> gae-init
        </a>
        <a class="btn btn-default tip" href="http://babel.gae-init.appspot.com" data-repo="gae-init-babel" data-placement="bottom" title="">
          <i class="fa fa-globe"></i> gae-init-babel
        </a>
        <a class="btn btn-default tip" href="http://upload.gae-init.appspot.com" data-repo="gae-init-upload" data-placement="bottom" title="">
          <i class="fa fa-cloud"></i> gae-init-upload
        </a>
        <a class="btn btn-default tip" href="http://debug.gae-init.appspot.com" data-repo="gae-init-debug" data-placement="bottom" title="">
          <i class="fa fa-bug"></i> gae-init-debug
        </a>
      </div>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-4">
      # include 'doc/tech_stack.html'
    </div>
    <div class="col-sm-4">
      <h3>Features</h3>
      <ul>
        <li>Open ID sign in</li>
        <li>
          Secret keys are stored in the Datastore.
        </li>
        <li>
          Automatic redirect back to where you were after sign in.
        </li>
        <li>
          Force redirect by providing <strong>&amp;next</strong> argument to the sign in URL.
        </li>
        <li>
          JSON services with more URL, limits, filter & orders.
        </li>
        <li>Feedback form</li>
        <li><a href="{{url_for('features')}}">Much more...</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      # include 'doc/examples.html'
    </div>
  </div>
# endblock
