# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        <img src="/p/img/{{slugify(config.CONFIG_DB.brand_name)}}.svg" alt="{{config.CONFIG_DB.brand_name}}">
      </h1>
      <p>
        <a href="https://github.com/gae-init/gae-init"><strong>gae-init</strong></a>
        is the easiest way to kick start new web applications on Google App Engine.
      </p>

      <p>
        Check it in action with live demos and get started:
      </p>

      <div class="clones links">
        <a class="btn btn-default tip" href="http://gae-init.appspot.com" data-repo="gae-init" data-placement="bottom" title="">
          <i class="fa fa-briefcase"></i> gae-init
        </a>
        <a class="btn btn-default tip" href="http://babel.gae-init.appspot.com" data-repo="gae-init-babel" data-placement="bottom" title="">
          <i class="fa fa-globe"></i> gae-init-babel
        </a>
        <a class="btn btn-default tip" href="http://upload.gae-init.appspot.com" data-repo="gae-init-upload" data-placement="bottom" title="">
          <i class="fa fa-cloud"></i> gae-init-upload
        </a>
        <a class="btn btn-default tip" href="http://debug.gae-init.appspot.com" data-repo="gae-init-debug" data-placement="bottom" title="">
          <i class="fa fa-bug"></i> gae-init-debug
        </a>
      </div>
      <p class="small">
        The documentation is not complete! But you are welcome to
        <a href="https://github.com/gae-init/gae-init-docs">contribute</a> or
        <a href="{{url_for('feedback')}}">send feedback</a> with your questions.
      </p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('convention')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-cogs"></span> Requirements</h4>
          <p>Before you begin</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('quickstart')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-clock-o"></span> Quickstart</h4>
          <p>Less than 5 minutes</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('tutorial')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-graduation-cap"></span> Tutorial</h4>
          <p>Build a simple app</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('convention')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-question"></span> How To</h4>
          <p>Common tasks explained</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('features')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-gift"></span> Features</h4>
          <p>Bunch of things out of the box</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('features')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-list"></span> Tech Stack</h4>
          <p>App Engine, Python, Flask, ...</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('reference')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-book"></span> API Reference</h4>
          <p>Common functions explained</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a class="section" href="{{url_for('convention')}}">
        <div class="caption">
          <h4><span class="fa fa-fw fa-code"></span> Code Conventions</h4>
          <p>Because code style matters</p>
        </div>
      </a>
    </div>
  </div>
# endblock
