# extends 'base.html'

# block content
  <div class="jumbotron">
    <h1>
      <img src="/p/img/gae-init.svg" alt="{{config.CONFIG_DB.brand_name}}">
    </h1>
    <p class="lead">
      <strong>{{config.CONFIG_DB.brand_name}}</strong> is the
      easiest way to start new applications on Google App Engine.
    </p>
    <p class="lead">
      What you see here is <abbr title="Except this welcome page">exactly</abbr>
      what you get, so <abbr title="On every possible link that you can find on this page">click</abbr> around or:
    </p>

    <p>
      <a class="btn btn-primary tip" href="https://bitbucket.org/lipis/gae-init"
          data-placement="bottom" title="Fork the project and start creating your next big thing."
        >
         <i class="icon-cloud"></i> Get gae-init
      </a>
      <a class="btn btn-primary tip" href="https://bitbucket.org/lipis/gae-init-babel"
          data-placement="bottom" title="If you want to have i18n and L10n support, this is where you should start."
        >
         <i class="icon-globe"></i> Get gae-init-babel
      </a>
      <a class="btn btn-inverse tip" href="http://docs.gae-init.appspot.com" target="gae-init-docs"
          data-placement="bottom" title="First time here? Read the documentation and complete the tutorial."
        >
         <i class="icon-book"></i> Read Docs
      </a>
    </p>
  </div>

  <hr>

  <div class="row notranslate">
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
  </div>
# endblock
